body {
    background-color: rgb(174, 174, 174);
}

.main {
    display: grid;
    position: absolute;
    gap: 8px;
    height: 600px;
    width: 99%;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

h1 {
    font-family: 'monospace, Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 36px;
}

.wrapper {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: relative; 
    grid-column: 1/5;
    grid-row: 1/6;
    overflow: hidden;
    outline: 3px rgb(255, 255, 255) solid;
}

#main__div {
    background-color: rgb(220, 187, 208);
    display: grid;
    position: absolute;
    overflow: hidden;
    resize: both;
    margin: 5px;
    min-width: 500px;
    min-height: 500px; 
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 5px;
    outline-style: solid;
    outline-width: 3px;
    outline-color: rgb(241, 95, 166);
    border-radius: 5px;
}

.div {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    overflow: hidden;
    resize: both;
    outline-style: solid;
    outline-width: 3px;
    border-radius: 5px;
}

.div1 {
    z-index: 1;
    opacity: 0.9;
    background-color: rgb(255, 224, 190);
    grid-column: 1/7;
    grid-row: 1/7;
    outline-color: rgb(255, 182, 98);
}

.div2 {
    z-index: 2;
    opacity: 0.8;
    background-color: rgb(209, 241, 150);
    grid-column: 1/6;
    grid-row: 1/6;
    outline-color: rgb(94, 222, 65);
}
.div3 {
    z-index: 3;
    opacity: 0.7;
    background-color: rgb(162, 206, 255);
    grid-column: 1/5;
    grid-row: 1/5;
    outline-color: rgb(87, 139, 241);
}

.div4 {
    z-index: 4;
    opacity: 0.6;
    background-color: rgb(101, 114, 238);
    grid-column: 1/4;
    grid-row: 1/4;
    outline-color: rgb(63, 57, 185);
}

.article {
    grid-column: 6/9;
    grid-row: 1/6;
    outline: 3px dotted white;
}